:root{
    background-color: powderblue;
    scrollbar-width: none;
}

h1{
    color: blue;
}

p{
    color: red;
}

.cool{
    width: 100vw;
    height: 400px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    padding: 2px;
}

.cool img {
    max-height: 100%;
    width: auto;
    height: 100%;
    object-fit: contain;
    padding: 2px;
    border-radius: 10px;
}

#dare{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}