html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: none;
}

.underline {
  text-decoration: underline;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #313131, #4d4d4d) no-repeat;
  animation: movegradient 10s infinite linear;
}

#dots {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 9%, transparent 9%);
  background-position: 0% 0%;
  background-size: 30px 30px;
  z-index: -97;
}

.mouse {
  z-index: 999;
  width: 15px;
  height: 15px;
  background-color: white;
  background-blend-mode: difference;
  border-radius: 15px;
  position: absolute;
  pointer-events: none;
  display: flex;
  transition: transform 0.2s ease, background-color 0.2s ease, width 0.2s ease, opacity 0.2s ease;
}

.mouseblob {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -98;
  background-color: white;
  position: absolute;
  filter: blur(30px);
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.larger {
  background-color: rgba(0, 128, 255, 0.5);
  transform: scale(1.25);
}

.textsel {
  width: 7.5px;
}


#date {
  color: white;
  position: absolute;
  font-family: "Tektur", sans-serif;
  right: 5%;
  top: 5%;
  font-size: 15px;
  transition: color 0.5s ease;
}

#time {
  color: white;
  position: absolute;
  font-family: "Tektur", sans-serif;
  right: 5%;
  top: 12%;
  font-size: 15px;
  transition: color 0.5s ease;
}

#about {
  color: white;
  position: absolute;
  font-family: "Tektur", sans-serif;
  right: 5%;
  bottom: 7%;
  font-size: 15px;
  transition: color 0.5s ease;
}

#date:hover {
  color: black;
}

#time:hover {
  color: black;
}

#about:hover {
  color: black;
}

/* animations */

@keyframes movegradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}
